$font-stack: 'Montserrat', sans-serif;
$beige: #C6AC8F;
$white: #EBE9E9;
$blue: #3581B8;

// titles on page
%title {
	text-shadow: 3px 3px 3px #706d6c;
	font-size: 25px;
	font-weight: bold;
}



html {
	font-size: 18px;
}

body {
	font: 100% $font-stack;
	background: $beige;
	color: white;
	position: relative; //for scrollspy
}

nav {
	background: $white;
	color: black;
}
.nav-link {
	margin-left: auto;
	color: black;
}

// anchor class/Link ids are for navigating on page
// set them to be above element to account for fixed navbar (so navbar doesnt cover element when navigating to it)
.anchor {
	display: block;
	position: relative;
	top: -250px;
	visibility: hidden;
}
#portfolioLink {
	top: -115px;
}
#contactLink {
	top: -115px;
}



#aboutMeTitle, #portfolioTitle, #contactTitle {
	margin-top: 5rem;
	@extend %title;
}

#aboutMe, #contact {
	margin-top: 1rem;
	border-radius: 5px;
	background: $blue;
}



.carousel-control-next, .carousel-control-prev:hover {
	cursor: pointer;
}

// modals for carousel images
.modal-content {
	background: $blue;
}
.img-in-modal {
	border-radius: 5px;
}



// lists for list view and links
.list-group-item {
	background: $white;
	transition: background 0.5s ease-in;
}
.list-group-item:hover {
	background: $blue;
	color: white;
}

// links in contact section
#links {
	margin-top: 2rem;
}

// icons on page are buttons to control carousel/list views
i {
	position: relative;
	left: 25vw;
	top: 2vh;
	font-size: 20px;
	max-width: 17.5px;
}
i:hover {
	cursor: pointer;
}
// icon has 4 breakpoints to line up with width of carousel under it


// MEDIA QUERIES
@media (min-width: 576px) {
	
	%title {
		font-size: 40px;
	}

	body {
		font-size: 1.25rem;
	}

	i {
		left: 145px;
	}
}

@media (min-width: 767px) {
	i {
		font-size: 30px;
		left: 223px;
	}
}

@media (min-width: 992px) {
	i {
		left: 333px;
	}
}

@media (min-width: 1200px) {
	i {
		left: 430px;
	}
}